name: Create Branches

on:
  workflow_dispatch:
    inputs:
      branch_name:
        description: 'Name of the branch to create'
        required: true
        type: string

jobs:
  create-branches:
    runs-on: ubuntu-latest
    steps:
    - name: Create branches in all repos
      run: |
        repos=("ismeneablement/repoA" "ismeneablement/repoB" "ismeneablement/repoC" "ismeneablement/repoD" "ismeneablement/repoE")
        branch="${{ inputs.branch_name }}"
        for repo in "${repos[@]}"; do
          echo "Creating branch $branch in $repo"
          main_sha=$(gh api repos/$repo/git/refs/heads/main -q .object.sha)
          gh api repos/$repo/git/refs -f ref=refs/heads/$branch -f sha=$main_sha
        done
      env:
        GITHUB_TOKEN: ${{ secrets.PAT_WORKFLOWS }}